/**
 * Title: layout.css
 * Author: Walter McCue
 * Date: 09/17/22
 * Description: Layout styling for my personal portfolio
 * References: www.geeksforgeeks.com; www.w3schools.com
*/

header {
    background-color: #ca5eff;
    width: 100%;
    height: 200px;
}
header img {
    padding: 25px;
}
nav {
    float: right;
    padding: 10px 20px 0px 0px;

}
nav a {
    padding-left:40px;
    text-decoration: none;
    color: white;
    font-weight: 400;
}
footer {
    background-color: #ca5eff;
    width: 100%;
}
.ulNoDec {
    list-style: none;
}