/**
 * Title: site.css
 * Author: Walter McCue
 * Date: 10/13/22
 * Description: Layout styling for my personal portfolio
*/

.container {
    overflow: visible;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 40px;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    height: 100%;
    flex-wrap: wrap;
}

section {
    overflow: visible;
    height: 500px;
    margin: 20px 0px;
    position: relative;
    margin-bottom: 20px;
}

section::before, section::after {
    content: '';
    position: absolute;
    height: 100px;
    top: 200px;
    right: 0;
    left: 0;
    background-color: var(--primary-color);
    z-index: -1;
    transform: skewY(-17deg);
    width: 100%;
}

.resume::before, .resume::after {
    content: '';
    position: absolute;
    height: 100px;
    top: 460px;
    right: 0;
    left: 0;
    background-color: var(--primary-color);
    z-index: -1;
    transform: skewY(-37deg);
    width: 100%;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    position: relative;
    overflow: visible;
    justify-content: center;
    align-items: center;
    height: 100%;
    z-index: 1;
}

header .grid {
    display: grid;
    grid-template-columns: 3fr 5fr;
    grid-template-rows: repeat(3, 1fr);
    gap: 40px;
    position: relative;
    overflow: visible;
    justify-content: center;
    height: 100%;
    z-index: 1;
}

footer .grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 40px;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 90%;
    overflow: visible;
}

.section .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    position: relative;
    overflow: visible;
    justify-content: center;
    align-items: center;
    height: 100%;
    z-index: 1;
}

.about .grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 40px;
    position: relative;
    overflow: visible;
    justify-content: center;
    align-items: center;
    height: 100%;
    z-index: 1;
}

.resume .grid {
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 40px;
    position: relative;
    overflow: visible;
    justify-content: center;
    align-items: stretch;
    height: 100%;
    z-index: 1;
}

.tech {
    display: grid;
    grid-template-columns: 1fr;
    position: relative;
    overflow: visible;
    justify-content: center;
    justify-items: center;
    height: 100%;
    z-index: 1;
}

.footer {
    width:fit-content;
    margin-bottom: 0%;
    justify-self: center;
}

.section {
    overflow: visible;
    height: 400px;
    margin: 20px 0px;
    position: relative;
    margin-bottom: 20px;
}

.card {
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    height: 95%;
    background-color: #fff;
    transition: transform 0.2s ease-in;
    animation: slideInFromBottom 1s ease-in;
}

.small {
    height: 10%;
}

.resumeCard {
    display: grid;
    grid-template-columns: 2fr 4fr;
    grid-template-rows: 4fr 4fr;
    gap: 10px;
    overflow: visible;
    align-items: stretch;
    height: 1000px;
}

.videoCard {
    display: grid;
    grid-template-columns: 1fr;
    overflow: visible;
    width: 100%;
    height: 100%;
    margin-left: 3%;
}

.card:hover {
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.4);
    transform: translateY(-10px);
}

.card img {
    width: 99%;
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes slideInFromBottom {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateX(0);
    }
}

/* Tablet */

@media screen and (max-width: 800px) {
    .grid, header .grid, footer .grid, .section .grid, .about .grid, .resume .grid, .resumeCard {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }
    section, .section, .card, .resumeCard {
        height: auto;
    }
}

/* Mobile */

@media screen and (max-width: 575px) {
    nav ul {
        background-color: rgba(0, 0, 0, 0.1);
    }
    .card {
        animation: slideInFromRight 1s ease-in;
    }
}